

// CLOCK APP
.clock255 {
  // dimension
  width: 380px;
  height: auto;
  min-width: 320px;

  // box
  border: 5px solid gray;
  border-radius: 2rem;
  padding: 2rem;

  // layout
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  // position
  position: relative;
  padding-top: 15.8rem;
}
