

/* imports */
@import 'clock.scss';
@import 'footer.scss';
@import 'timer.scss';
@import 'subwidget.scss';




/* initial rules */
* {
  /* box */
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;

  /* typo */
  font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}


body {
  /* dimension */
  height: 100vh;
  width: 100vw;

  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
}
