

/* CHILD COMPONENT LAYOUT */


/* all widgets */
.widget {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "label label label"
    "decre durat incre";
  justify-content: center;
  align-items: center;
}
/* grid items */
.widget .label     { grid-area: label; }
.widget .length  { grid-area: durat; }
.widget .button1   { grid-area: decre; }
.widget .button2   { grid-area: incre; }


/* #timer-label */
#timer-label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "label label"
    "timer timer"
    "bttn1 bttn2";
}
/* grid items */
#timer-label .label     { grid-area: label; }
#timer-label .length  { grid-area: timer; }
#timer-label .button1   { grid-area: bttn1; }
#timer-label .button2   { grid-area: bttn2; }
