

// TIMER
#timer-label {
  // position
  position: absolute;
  top: 1rem;

  // layout
  display: flex;
  flex-direction: column;
  align-items: center;

  // box
  margin-bottom: 5rem;
}
#timer-label {

  // schedule
  .label {
    font-size: 2rem;
  }
  // time mmss
  .length {
    font-size: 8rem;
    line-height: 7rem;
    // margin-bottom: 1.2rem;
  }
  // buttons
  button {
    // border-left: 3px solid lightgray;
    border-radius: 2px;
    width: 4rem;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    // position
    position: absolute;
    top: 10.8rem;
    // effects
    background-color: transparent;
    transition: font-size 0.1s;
  }
  button:hover {
    // effects
    font-size: 1.2rem;
    transition: font-size 0.2s;
    background-color: lightblue;
  }
  button:active {
    background-color: orange;
  }
  .button1 {
    left: 5.5rem;
  }
  .button2 {
    right: 5.5rem;
  }
}
#timer-label::after {
  content: 'line';
  color: transparent;
  border-bottom: 3px solid lightgray;
  width: 7rem;
  position: absolute;
  bottom: -3.5rem;
  z-index: -1;
}
